/*
  Anki card Template by Daniyal Dolkun
  https://github.com/dnydlk/anki-card-templates
  dnydlk@proton.me

  Inspired by/Adapted from @pranavdeshai
  https://github.com/pranavdeshai/anki-prettify
*/

:root {
  /*- --------------- Content ---------------- -*/
  --content-max-width: 800px;

  /*- ---------------- Deck ------------------ -*/
  --deck-margin: -6px 0 0px -4px;
  --deck-margin-mobile: -8px 0 0px 0px;
  --deck-font-size: 12px;

  /*- --------------- Question --------------- -*/
  --question-font-size: 20px;
  --question-line-height: 1.3;

  /*- ------------------ hr ------------------ -*/
  --hr-margin: 12px 0;
  --hr-margin-mobile: 12px 0 10px 0;

  /*- --------------- Pointers --------------- -*/
  --pointer-margin: 0px 0px 4px 0px;

  /*- --------------- Answers ---------------- -*/
  --answers-font-size: 18px;

  /*- ---------------- Code ------------------ -*/
  --code-margins: 10px 20px;
  --code-margins-mobile: 8px 0px;
  --code-font-size: 16px;

  /*- -------------- Reminders ---------------- -*/
  --reminder-margins: 14px 20px 12px 0px;

  /*- --------------- Tags ------------------- -*/
  --tags-margin: 10px 0 -2px 1px;

  /*- --------------- Images ----------------- -*/
  --img-width: 100%;

  /*- -------------- Colors ------------------ -*/
  --card-bg-color: #ececec;
  --card-bg-color-night: #242933;
  --content-bg-color: #ffffff;
  --content-bg-color-night: #2e3440;
  --content-border-color: #e5eef4;
  --content-border-color-night: #333333;

  --url-font-color: #8c95a7;

  --font-color: #434c5e;
  --font-color-night: #e7e9f0;

  --hr-color: #91a4b9;
  --hr-color-night: #d8dee9;

  --scripted-tags-font-color: #4c566a;
  --scripted-tags-font-color-hover: #8fbcbb;
  --scripted-tags-bg-color-hover: transparent;
  --scripted-tags-border-hover: #8fbcbb;

  --bold-color: #bf616a;
  --italic-color: #ebcb8b;
  --bold-italic-color: #d08770;
  /* --underline-color: #a3be8c; */
  --underline-color: #98c379;
}

.card {
  margin: 0;
  background-color: var(--card-bg-color);
}

.card.nightMode {
  background-color: var(--card-bg-color-night);
}

.content {
  margin: 10px auto;
  padding: 10px 15px;
  max-width: var(--content-max-width);
  border: 1px solid var(--content-border-color);
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: var(--font-color);
  background-color: var(--content-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.5rem;
}

.nightMode .content {
  color: var(--font-color-night);
  background-color: var(--content-bg-color-night);
  border: 1px solid var(--content-border-color-night);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mobile .content {
  margin: 8px auto;
  padding: 10px 8px;
}

/*- ---------------- Front Side -------------- -*/
.info-wrapper {
  display: flex;
  justify-content: space-between;
}

#deck {
  margin: var(--deck-margin);
  font-size: var(--deck-font-size);
}

.mobile #deck {
  margin: var(--deck-margin-mobile);
}

#url {
  margin: var(--deck-margin);
  font-size: var(--deck-font-size);
  font-style: italic;
  color: var(--url-font-color);
  text-align: right;
}

#question {
  font-size: var(--question-font-size);
  line-height: var(--question-line-height);
}

hr {
  margin: var(--hr-margin);
  border: 0.1px solid var(--hr-color);
}

.nightMode hr {
  border: 0.1px solid var(--hr-color-night);
}

.mobile hr {
  margin: var(--hr-margin-mobile);
}

/*- --------------- Back Side ---------------- -*/
#pointer,
#answers,
#reminder {
  font-size: var(--answers-font-size);
}

#pointer {
  margin: var(--pointer-margin);
  font-style: italic;
  font-family: 'Times New Roman'
}

#code {
  margin: var(--code-margins);
  font-family: Menlo;
  font-size: var(--code-font-size);
}

.mobile #code {
  margin: var(--code-margins-mobile);
}

#reminder {
  margin: var(--reminder-margins);
  font-family: "Gill Sans";
}

/* tags wrapper (DO NOT change class name) */
.tags {
  margin: var(--tags-margin);
  padding: 0;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
}

.scripted-tags {
  all: initial;
  background-color: transparent;
  border: 1px solid #d8dee9;
  border-radius: 0.25em;
  color: var(--scripted-tags-font-color);
  display: inline;
  font-size: 12px;
  font-family: Arial;
  font-style: italic;
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  transition: all 0.25s;
  word-break: break-word;
}

.scripted-tags:hover {
  border: 1px solid var(--scripted-tags-border-hover);
  color: var(--scripted-tags-font-color-hover);
  background-color: var(--scripted-tags-bg-color-hover);
  cursor: pointer;
}

img {
  display: block;
  margin: 0 auto;
  /* width: var(--img-width); */
  max-width: var(--img-width);
}

code {
  background-color: #eee;
  font-family: courier, monospace;
  font-weight: bold;
  padding: 0 3px;
}

.nightMode code {
  background-color: #23272e;
  color: #acb2be;
}

/*- ------------ Text Styles ------------ -*/
a {
  cursor: pointer;
}

li {
  line-height: 1.2;
}

b,
strong {
  color: var(--bold-color);
}

i,
em {
  color: var(--italic-color);
}

b > i,
i > b {
  color: var(--bold-italic-color);
}

u {
  color: var(--underline-color);
}

pre {
  white-space: pre-wrap;
}
